.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #74ebd5, #9face6);
    backdrop-filter: blur(10px);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto;
    width: 500px;
  }
  
  .login-form-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-input {
    position: relative;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 100%;
  }
  
  .password-input-container {
    position: relative;
  }
  
  .password-input-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .login-button {
    padding: 15px 16px;
    border-radius: 5px;
    border: none;
    background-color: #FF4081;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background: linear-gradient(to bottom right, #74ebd5, #9face6);
  }
  
  .register-message {
    margin-top: 20px;
    color: rgb(31, 31, 31);
    margin-bottom: 0px;
    text-align: center;
  }
  
  .register-link {
    color: rgb(46, 44, 44);
    text-decoration: underline;
    text-align: center;
  }
  .login-input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
  }